body{margin:0;font-family:Arial;color:white}

.bg-tech{
background:linear-gradient(135deg,#0f2027,#00c853,#1b5e20);
min-height:100vh;
}

.login-box{
width:300px;
margin:120px auto;
text-align:center;
background:#0008;
padding:20px;
border-radius:10px;
}

/* NAVBAR */
.navbar{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px;
background:#0008;
}

.nav-left{
display:flex;
align-items:center;
}

.logo{
width:60px;
margin-right:10px;
}

.brand{
font-size:20px;
font-weight:bold;
}

.nav-center{
display:flex;
gap:30px;
flex:1;
justify-content:center;
}

.nav-center span{
cursor:pointer;
}

.logout{
margin-left:auto;
}

/* CONTENT */
.section{padding:20px}

.img-about{
width:45%;
margin:10px;
border-radius:10px;
}

/* PRODUCTS */
.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.product{
background:#0005;
padding:15px;
margin:10px;
cursor:pointer;
border-radius:10px;
transition:0.3s;
width:150px;
text-align:center;
}

.product:hover{transform:scale(1.05)}

.product img{
width:100%;
border-radius:8px;
margin-bottom:5px;
}

/* POPUP */
.popup{
display:none;
position:fixed;
inset:0;
background:#0008;
justify-content:center;
align-items:center;
}

.popup-content{
background:white;
color:black;
padding:20px;
border-radius:10px;
width:300px;
}

/* JUAL */
.jual-container{
text-align:center;
margin-top:150px;
}

.plus-btn{
font-size:40px;
padding:20px;
border-radius:50%;
background:#00e676;
cursor:pointer;
}

